## client
client/node_modules


################################
## server

# authentication
server/authentication/node_modules

# slot
server/slot/node_modules

# technologies


# user-info
# Ignore the node_modules directory within the user-info microservice
server/user-info/node_modules

# Ignore environment configuration files (store sensitive data like API keys here)
.env

